@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  /* A clean, modern light gray background */
  color: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

#root {
  width: 100%;
}